html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

label {
    cursor: inherit;
}

body {
    margin: 0;
}

img {
    display: block;
    width: 100%;
}

a,
button {
    cursor: pointer;
    text-decoration: none;
}

ul {
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    cursor: default;
}
